In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
process = pd.read_csv('./C2_이차전지/bat_process.csv',encoding='euc-kr')
process.head()

,Unnamed: 0,lot_id,tray_id,cell_id,judge,dt_start,rta1_cell_no,rta1_box_col,rta1_box_row,rta1_box_dan,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
0,0,LOT-100,TRAY-1002,CELL-10300,양품,25NOV2023:05:17:55,20,04열,08연,04단,...,54연,10단,3759.6,5.0,6.8,4709.0,37583.0,92.0,626.0,109.0
1,1,LOT-100,TRAY-1002,CELL-10301,양품,25NOV2023:05:17:55,18,04열,08연,04단,...,54연,10단,3760.4,5.1,6.8,4712.0,37591.0,92.0,606.0,5.0
2,2,LOT-100,TRAY-1002,CELL-10302,양품,25NOV2023:05:17:55,2,04열,08연,04단,...,54연,10단,3760.4,4.9,6.7,4737.0,37594.0,92.0,566.0,-10.0
3,3,LOT-100,TRAY-1002,CELL-10303,양품,25NOV2023:05:17:55,24,04열,08연,04단,...,54연,10단,3759.0,5.1,6.9,4709.0,37578.0,92.0,606.0,111.0
4,4,LOT-100,TRAY-1002,CELL-10304,양품,25NOV2023:05:17:55,15,04열,08연,04단,...,54연,10단,3759.0,5.0,6.7,4706.0,37577.0,93.0,606.0,-38.0

트레이별로 셀 개수는 최대 25개, 25개가 안 채워져있는 경우도 존재

In [4]:
process['defective'] = process['judge'].apply(lambda x: 1 if x == '불량' else 0)

defect_rate = process.groupby('tray_id').agg(
    total_cells=('cell_id', 'count'),
    defective_cells=('defective', 'sum')
)

process.drop('defective',axis=1,inplace=True)

defect_rate['defect_rate'] = (defect_rate['defective_cells'] / defect_rate['total_cells']) * 100

In [5]:
defect_rate

           total_cells  defective_cells  defect_rate
tray_id
TRAY-1002           25                0     0.000000
TRAY-1003           24                0     0.000000
TRAY-1004           25                0     0.000000
TRAY-1005           25                0     0.000000
TRAY-1006           25                0     0.000000
...                ...              ...          ...
TRAY-2787           21                3    14.285714
TRAY-2788           24                6    25.000000
TRAY-2789           25                3    12.000000
TRAY-2790           24                1     4.166667
TRAY-2791           25                5    20.000000

[1780 rows x 3 columns]

In [6]:
defect_rate[defect_rate['defect_rate'] > 0]

           total_cells  defective_cells  defect_rate
tray_id
TRAY-1009           25                1     4.000000
TRAY-1012           25                1     4.000000
TRAY-1024           25                2     8.000000
TRAY-1034           24                1     4.166667
TRAY-1040           17                1     5.882353
...                ...              ...          ...
TRAY-2787           21                3    14.285714
TRAY-2788           24                6    25.000000
TRAY-2789           25                3    12.000000
TRAY-2790           24                1     4.166667
TRAY-2791           25                5    20.000000

[389 rows x 3 columns]

전체 트레이 중 불량이 하나라도 있는 트레이는 389개

In [8]:
defect_rate.sort_values(by='defect_rate',ascending=False)

           total_cells  defective_cells  defect_rate
tray_id
TRAY-1434           22               20    90.909091
TRAY-1800           15               13    86.666667
TRAY-1752           23               19    82.608696
TRAY-1467           25               18    72.000000
TRAY-1426           22               15    68.181818
...                ...              ...          ...
TRAY-1672           25                0     0.000000
TRAY-1671           23                0     0.000000
TRAY-1669           23                0     0.000000
TRAY-1668           25                0     0.000000
TRAY-1896           21                0     0.000000

[1780 rows x 3 columns]

불량률이 가장 높은 트레이? ID = 1434, 불량률 = 90.909091

In [9]:
defect_rate.sort_values(by='defective_cells',ascending=False)

           total_cells  defective_cells  defect_rate
tray_id
TRAY-1434           22               20    90.909091
TRAY-1752           23               19    82.608696
TRAY-1467           25               18    72.000000
TRAY-1426           22               15    68.181818
TRAY-1482           25               14    56.000000
...                ...              ...          ...
TRAY-1672           25                0     0.000000
TRAY-1671           23                0     0.000000
TRAY-1669           23                0     0.000000
TRAY-1668           25                0     0.000000
TRAY-1896           21                0     0.000000

[1780 rows x 3 columns]

In [21]:
a = process[process['tray_id']=='TRAY-1339'][['cell_id','judge']]
tray = pd.DataFrame(a)
tray

         cell_id judge
7030  CELL-18441    양품
7031  CELL-18442    양품
7032  CELL-18443    양품
7033  CELL-18444    양품
7034  CELL-18445    양품
7035  CELL-18446    양품
7036  CELL-18447    양품
7037  CELL-18448    양품
7038  CELL-18532    양품
7039  CELL-18533    양품
7040  CELL-18534    양품
7041  CELL-18535    불량
7042  CELL-18536    양품
7043  CELL-18537    불량
7044  CELL-18538    양품
7045  CELL-18539    불량
7046  CELL-18540    양품
7047  CELL-18541    양품
7048  CELL-18542    양품
7049  CELL-18543    양품
7050  CELL-18544    불량
7051  CELL-18545    양품
7052  CELL-18546    양품
7053  CELL-18547    불량
7054  CELL-18548    양품